<h1>Stupid Coaching</h1>
<p>Hello There</p>
<div class="container">
  <div class="card">
    <p>Your Question</p>
    <h3><%= @question %></h3>
  </div>		
  <div class="card" id="coach">
    <p>Coach's answer!</p>
    <h3> <%= @response%> </h3>
  </div>
</div>

<p><%= link_to 'ask another one!', ask_path %></p>